/emacs-init.el
*~
emojis/
/ido.last
/bookmarks
elpa/
server/
/customizations/packages/autoit-mode/
customizations
/.python-environments
*.dat
eshell/
/projectile-bookmarks.eld
/projectile.cache
url/
/recentf
init.el
/network-security.data
/logview-cache.extmap
/emacs-init.org.rej
/snippets/org-mode/priv_*
snippets/dockerfile-mode
.sx
/persistent-scratch
